[GAME]
# delay in secs between each snake move
Delay = 0.2
# Delay gets multiplied by this value every time the snake hits an apple
DelayMultiplier = .98

[DISPLAY]
# Both Width & Height must be multiples of 40
Width = 1000
Height = 520

[SPRITES]
# Specified paths must be relative to the project root directory
Block = assets\img\sprites\block.jpg
Apple = assets\img\sprites\apple.jpg
